* {
   margin: 0; 
    padding: 0;
}

/* Estilizando fundo */
body {
    
   background-color: #fff;
    
}

/* Estilizando o menu */
.menu {
    background-color: #42555e;
    width: 100%;
    height: 20px;
    color: #fff;
    font-family: Arial;
    
}

.menu ul { 
    list-style: none;
    position: relative;
    text-align: center;
}
.menu ul li {
    display: block;
    width: 110px;
    float: left;
    
}

.menu ul li:hover {
    background-color: #fff;
    color: #ccc;
    cursor: context-menu;
}

.menu a {
    padding: 15px;
    display: block;  
    text-decoration: none;
    text-align: center;
    color: #fff;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}


.menu ul li:hover ul {
    top: 18px;
    visibility: visible;   
}

.menu a:hover {
    background-color: #000;
    color: #ccc;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}

.menu ul ul li a {
    background-color: #42555e;
}

/* Estilizando o titulo. */
.titulo {
    text-align: left;
    color: #000;
	margin-left: 10%;
    margin-top: 70px;
	font-family: Arial;
    font-style: italic;
    font-size: 35px;      
}

/* Estilizando a classe 'paragrafo'. */
.paragrafo {
    text-align: justify;
    margin-top: 30px;
    color: #000;
    font-size: 20px;
}

/* Estilizando a tag <p> dentro da classe 'paragrafo'. */
.paragrafo p {
    padding: 10px;
    width: 80%;
    margin-left: 10%;
}

.paragrafo p:first-letter {
    font-size: 1.7em; 
}



/* === Galeria === */
.conteudo {
	margin-left: 10%;
	margin-top: 200px;
	margin-bottom: 50px;
}

div.galeria {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.galeria:hover {
  border: 1px solid #777;
}

div.galeria img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}








/* Estilizando o rodape */
#rodape {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	border-top: 1px solid #ccc;
}

/* Estilizando a tag <p> dentro da  classe 'rodape'. */
#rodape p {
	padding: 8px;
	text-align: center;
	/*border-left: 1px solid #ccc;*/
}


/* Parte que deixa tudo esponsivo */
@media(max-width: 800px){
    
	/* Deixando o titulo responsivo. */
    .titulo {
        margin-top: 150px;
    }
	
	.conteudo {
		margin-left: 10%;
		margin-top: 100px;
		margin-bottom: 500px;
	}
	
	/* Menu responsivo */
    .menu ul li {
        border-top: solid 1px #fff; /* Adiciona bordas a baixo dos titulo do menu. */
        width: 100%;
        float: none;
    }
    
    .menu {
        border-bottom: solid 5px #ccc;
        height: 120px;
        background-color: #42555e;
    }
    
    .menu ul ul {
        position: static;
        overflow:  hidden;
        max-height: 0;
    }
    
    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
    }
    
    .menu ul li:hover {
    background-color: #fff;
    color: #ccc;
    cursor: context-menu;
	}
	
	/* Estilizando o rodape para ficar respnsive. */
	#rodape {
		position: relative;
		margin-top: 700px;
		bottom: 0;	/* Deixei ele. Mas não precisa desse bottom. */
		width: 100%;
		height: 50px;
		border-top: 1px solid #ccc;
	}

	/* Tag <p> dentro da  classe 'rodape' responsiva. */
	#rodape p {
		padding: 8px;
		text-align: center;
	}
}